.form {
  text-align: center;
  background-color: #dcc390;
}

.form h2 {
  font-size: 65px;
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 800px;
  margin: 5rem auto;
}

.form input {
  width: 45%;
}

.form input,
.form textarea {
  font-size: 1.4rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.form input::placeholder,
.form textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form textarea {
  width: 100%;
}

.form button {
  align-self: flex-end;
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover {
  border: 2px solid rgba(0, 0, 0, 0.6);
}

@media (max-width: 780px) {
  .form h2 {
    font-size: 55px;
  }

  .form form {
    margin: 3rem auto;
  }
}

@media (max-width: 500px) {
  .form h2 {
    font-size: 45px;
  }

  .form input,
  .form textarea {
    width: 80%;
  }

  .form form {
    margin: 2rem auto;
  }
}
