.dish h2 {
  font-size: 65px;
  margin-bottom: 20px;
}

.text {
  padding: 45px;
  border-left: 2px solid #dcc390;
}

.image {
  padding: 45px;
  position: relative;
}

.image img {
  display: block;
}

.dishSquare {
  position: absolute;
  width: 300px;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}

.dishCircle {
  width: 80%;
  border-radius: 50%;
  z-index: 100;
}

@media (max-width: 780px) {
  .dish h2 {
    font-size: 55px;
  }

  .text {
    border-bottom: 2px solid #dcc390;
    border-left: none;
    order: 1;
  }

  .image {
    order: 2;
  }

  .text,
  .image {
    padding: 35px;
  }
}

@media (max-width: 500px) {
  .dish h2 {
    font-size: 45px;
  }

  .text,
  .image {
    padding: 25px;
  }

  .dishCircle {
    width: 80%;
    margin: 0 auto;
  }

  .dishSquare {
    display: none !important;
  }
}
