.title {
  text-align: center;
}

.testimonials h2 {
  font-size: 65px;
  margin-bottom: 20px;
}

.customers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.customers img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}

@media (max-width: 780px) {
  .testimonials h2 {
    font-size: 55px;
  }
}

@media (max-width: 500px) {
  .testimonials h2 {
    font-size: 45px;
  }

  .customers {
    grid-template-columns: 1fr;
  }
}
