.chefs h2 {
  font-size: 65px;
  margin-bottom: 20px;
  text-align: center;
}

.chefs img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.chefs p {
  max-width: 400px;
  margin: 0 auto;
}

.wrapper {
  margin-bottom: 4rem;
}

@media (max-width: 780px) {
  .chefs h2 {
    font-size: 55px;
  }

  .wrapper:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .chefs p {
    max-width: 300px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .chefs h2 {
    font-size: 45px;
  }
}
